.service-section {
    .section-title-area {
        .client-area {
            @include flex;
            gap: 20px;

            @include breakpoint (max-sm){
                flex-wrap: wrap;
            }

            p {
                max-width: 168px;
                color: $header-color;
            }
        }
    }
}

.client-information-section-5 {
    .client-area {
        @include flex;
        gap: 20px;

        @include breakpoint (max-sm){
            flex-wrap: wrap;
        }

        p {
            max-width: 168px;
            color: $header-color;
        }
    }

    .brand-image {
        text-align: center;
    }
}

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.service-box-items {
    background-color: rgba(2, 36, 35, 1);
    padding: 25px;
    border-radius: 12px;
    @include flex;
    justify-content: space-between;
    margin-top: 30px;

    @include breakpoint (max-lg){
        display: block;
        padding: 45px 30px;
    }

    .content {
        padding: 25px 30px;
        max-width: 428px;

         @include breakpoint (max-lg){
            padding: 0;
            margin-bottom: 30px;
        }

        .icon-area {
            @include flex;
            justify-content: space-between;

            .number {
                font-weight: 600;
                font-size: 32px;
                letter-spacing: -0.01em;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #FFFFFF;
                font-family: $heading-font;
            }
        }

        .title {
            color: $white;
            margin-top: 55px;
            max-width: 305px;

             @include breakpoint (max-xl){
                margin-top: 30px;
            }

            a {
                color: $white;
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        p {
            max-width: 428px;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 15px;

             @include breakpoint (max-xl){
                font-size: 15px;
            }
        }

        .list-items {
            margin-top: 30px;
            @include flex;
            gap: 10px;

             @include breakpoint (max-xl){
                margin-top: 25px;
                flex-wrap: wrap;
            }

            span {
                background: rgba(255, 255, 255, 0.12);
                border: 1px solid rgba(255, 255, 255, 0.26);
                backdrop-filter: blur(29.05px);
                padding: 10px 18px;
                border-radius: 90px;
                color: $white;
                line-height: 1;

                img {
                    margin-right: 10px;
                }
            }
        }

        .theme-btn {
            margin-top: 40px;

            @include breakpoint (max-xl){
                margin-top: 30px;
            }
        }
    }

    .thumb {
        overflow: hidden;
        position: relative;
        border-radius: 12px;
        z-index: 99;

        img {
            @include imgw;
            border-radius: 12px;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;


            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    &:hover {
        .content {
            .icon-area {
                .icon {
                    img {
                        animation: wobble 1.5s ease-in-out;
                    }
                }
            }
        }

        .thumb {
            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0);
                }

                &:nth-child(2) {
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}

.service-section-2 {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

     @include breakpoint (max-xxl){
       margin-bottom: 0;
       background-color: #022423;
    }

    &.service-style-8 {
        @include breakpoint (max-xxl){
            background-color: $bg-color;

            .section-title {
                padding-top: 0;
            }
        }
    }

    .section-title {
        padding-top: 35px;
    }

    .container {
        max-width: 1640px;
    }

    .service-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
        }

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.service-box-items-style-2 {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 12px;
    padding: 10px;

    .service-thumb {
        position: relative;
        border-radius: 12px;
        overflow: hidden;

        .hover-img {
            @include imgw;
            border-radius: 12px;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }

        .icon {
            width: 76px;
            height: 78px;
            line-height: 78px;
            text-align: center;
            background-color: $white;
            border-radius: 6px;
            position: absolute;
            z-index: 9;
            bottom: 10px;
            right: 10px;

            img {
                width: initial;
                height: initial;
            }
        }
    }

    .service-content {
        padding: 25px 20px;

        h3 {
            font-size: 24px;
            font-weight: 600;

            a {
                color: $white;
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                &:hover {
                    color: $white;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $white 0%, $white 100%);
                }
            }
        }

        h2 {
            font-size: 24px;
            font-weight: 600;

            a {
                color: $white;
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                &:hover {
                    color: $white;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $white 0%, $white 100%);
                }
            }
        }

        p {
            color: $white;
            margin-top: 12px;
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
            color: $white;
            border-top: 1px solid rgba(255, 255, 255, 0.16);
            padding-top: 20px;
            margin-top: 20px;
        }

        .sub-titles {
            font-size: 18px;
            font-weight: 600;
            color: $white;
            border-top: 1px solid rgba(255, 255, 255, 0.16);
            padding-top: 20px;
            margin-top: 20px;
            font-family: $heading-font;
        }

        ul {
            @include flex;
            gap: 20px;
            margin-top: 15px;

            @include breakpoint (max-xxxl){
                gap: 12px;
                font-size: 15px;
            }

            @include breakpoint (max-xxxl){
                flex-wrap: wrap;
                gap: 10px;
            }

            li {
                color: $white;

                @include breakpoint (max-xxxl){
                    font-size: 14px;
                }

                img {
                    margin-right: 7px;

                     @include breakpoint (max-xxxl){
                       margin-right: 5px;
                    }
                }
            }
        }
    }

     &.style-2 {
        background-color: $white;

        .service-thumb {
            .icon {
                background-color: #022423;
            }
        }

        .service-content {
            h3 {
                a {
                    color: $header-color;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: rgba(87, 125, 125, 0.8);
            }

            h4 {
                color: $header-color;
                border-top: 1px solid rgba(87, 125, 125, 0.36);
            }

            ul {
                @include flex;
                gap: 20px;
                margin-top: 15px;

                li {
                    color: $header-color;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

    &.service-style-8 {
        background-color: $white;

        .service-thumb {
            .icon {
                background-color: $header-color;
            }
        }

        .service-content {

            h3 {
                
                a {
                    color: $header-color;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: rgba(87, 125, 125, 0.8);
            }

            h4 {
                
                color: $header-color;
                border-top: 1px solid rgba(87, 125, 125, 0.16);
            }

            ul {
                
                li {
                    color: #595959;

                    img {
                        margin-right: 7px;
                    }
                }
            }
        }
    }

    &:hover {
        .service-thumb {
            .hover-img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }

            .icon img {
                animation: wobble 1.5s ease-in-out;
            }
        }
    }
}

.service-bottom-items-2 {
    text-align: center;
    margin-top: 75px;

    p {
        color: $white;
    }

    .link-btn {
        margin-top: 15px;

        &:hover {
            color: $theme-color;
        }
    }

    &.service-bottom-items-8 {
        p {
            color: rgba(87, 125, 125, 0.8);
        }

        .link-btn {
            color: $text-color;

            &:hover {
                color: $theme-color;
            }
        }
    }
}

.service-section-11 {
    background-color: #D8E5E5;
}

.service-left-items-style-3 {
    .theme-btn {
        margin-top: 48px;
    }
}

.service-right-box-items-style-3 {
    .service-box {
        @include flex;
        gap: 50px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.14);
        border-radius: 12px;
        padding: 50px;
        @include transition;
        margin-top: 20px;

        @include breakpoint (max-xl){
            padding: 40px 30px;
             flex-wrap: wrap;
            gap: 30px;
        }


        .icon-area {
            .icon {
                @include transition;

                img {
                    @include transition;
                }
            }

            h3 {
                max-width: 320px;
                margin-top: 44px;
                font-size: 28px;

                 @include breakpoint (max-md){
                  margin-top: 25px;
                  font-size: 24px;
                }

                a {
                    color: $white;
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;

                    &:hover {
                        color: $white;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $white 0%, $white 100%);
                    }
                }
            }
        }

        .content-area {
            p {
                color: $white;
            }

            ul {
                margin-top: 44px;

                 @include breakpoint (max-md){
                  margin-top: 25px;
                }

                li {
                    color: $white;

                    img {
                        margin-right: 7px;
                    }
                }
            }
        }

        &:hover {
            background-color: $theme-color;

            .icon-area {
                .icon img {
                    animation: wobble 1.5s ease-in-out;
                    filter: brightness(1000%) contrast(1000%);
                }
            }
        }
    }
}

.service-section-4 {
    .container {
        max-width: 1372px;
    }

    .section-title {
        margin-bottom: 30px;

        @include breakpoint (max-md){
            margin-bottom: 0;
        }
    }
}

.service-box-4 {
    background-color: $bg-color;
    padding: 45px 70px;
    border-bottom: 1px dashed rgba(2, 36, 35, 0.45);
    @include flex;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;

    @include breakpoint (max-xl){
        padding: 40px 0;
    }

    @include breakpoint (max-lg){
        display: grid;
        gap: 30px;
        justify-content: center;
        text-align: center;
    }

    &::before {
        position: absolute;
        content: "";
        inset: 0;
        opacity: 0;
        transform: scale(1, 0.3);
        background-color: $theme-color;
        transition: all 500ms ease;
        border-radius: 8px;
    }

    .content {
        display: flex;
        gap: 40px;
        align-items: center;
        position: relative;
        z-index: 1;

         @include breakpoint (max-sm){
            gap: 20px;
        }

        span {
            font-size: 24px;
            font-weight: 600;
            color: $theme-color;
            line-height: 1;
            font-family: $heading-font;
        }

        h3 {
            font-size: 44px;
            font-weight: 600;

            @include breakpoint (max-xl){
                font-size: 32px;
            }

            @include breakpoint (max-sm){
                font-size: 25px;
            }
        }
    }
    
    .right-content {
        @include flex;
        gap: 85px;

        @include breakpoint (max-lg){
            display: grid;
            gap: 30px;
            justify-content: center;
        }
    }

    .text {
        color: #577D7D;
        max-width: 272px;
        position: relative;
        z-index: 9;
    }

    .icon {
        position: relative;
        z-index: 9;
        transition: all 0.3s ease;

        &:hover {
        color: $white;
        }
    }

    .hover-image {
        max-width: 218px;
        position: absolute;
        border-radius: 12px;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(10deg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 75%;
        border-radius: 30px;
        opacity: 0;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        margin: -200px 0 0 -50px;
        overflow: hidden;
        pointer-events: none;
        z-index: 999;
        visibility: hidden;
        will-change: transform;

        @include breakpoint (max-lg){
            display: none !important;
        }

        img {
            @include imgw;
        }
    }

    &:hover {
        .content {
            span {
                color: $white;
            }

            h3 {
                a {
                    color: $white;
                }
            }
        }

        .right-content {
            p {
                color: $white;
            }

            .icon {
                filter: brightness(0) invert(1);
            }
        }

        .hover-image {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}


.service-section-5 {
    position: relative;
    z-index: 9;

    &::before {
        width: 55%;
        height: 100%;
        content: "";
        background-color: $theme-color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;


        @include breakpoint (max-xl){
            display: none;
        }
    }
    .section-title-area {
        @include breakpoint (max-xl){
            text-align: center;
            justify-content: center;

            .sub-title  {
                color: $header-color !important;
                filter: brightness(0);
            }

            h2 {
                color: $header-color !important;
            }
        }
        .right-content {
            max-width: 445px;

            @include breakpoint (max-xl){
                margin: 0 auto;
            }

            .theme-btn {
                margin-top: 30px;
            }
        }
    }
}

.service-slider-5 {
    margin-left: -15%;
    margin-right: -15%;

    @include breakpoint (max-xxxl){
        margin-left: -20%;
        margin-right: -20%;
    }

    @include breakpoint (max-xxl){
        margin-left: -28%;
        margin-right: -28%;
    }

    @include breakpoint (max-lg){
        margin-left: 0;
        margin-right: 0;
    }
}

.service-box-items-5 {
    margin-top: 30px;
    @include flex;
    position: relative;
    background-color: $white;
    border-radius: 10px;
    justify-content: space-between;

    @include breakpoint (max-md){
        display: block;
    }

    .arrow-icon {
        background-color: $theme-color;
        width: 76px;
        height: 94px;
        line-height: 94px;
        font-size: 25px;
        text-align: center;
        color: $white;
        position: absolute;
        left: 47%;
        top: 35%;
        @include transition;
        z-index: 11;
         border-radius: 5px;

         @include breakpoint (max-md){
            width: 70px;
            height: 70px;
            line-height: 70px;
            top: 60%;
            font-size: 18px;
         }

        &:hover {
            background-color: $header-color;
            color: $white;
        }
    }

    .content {
        padding: 45px 38px;
        max-width: 313px;

        @include breakpoint (max-md){
            padding: 30px;
            margin: 0 auto;
            text-align: center;
            max-width: initial;
        }

        .icon {
            margin-bottom: 180px;

             @include breakpoint (max-xxxl){
                margin-bottom: 150px;
            }

            @include breakpoint (max-md){
                margin-bottom: 20px;
            }
        }

        h3 {
            font-size: 28px;

             @include breakpoint (max-xl4){
                font-size: 22px;
            }

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        p {
            margin-top: 10px;
        }

        &:hover {
            .icon img {
                animation: wobble 1.5s ease-in-out;
            }
        }
    }

    .thumb {
        overflow: hidden;
        position: relative;
        width: 50%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 520px;

        @include breakpoint (max-xxxl){
            max-width: 288px;
            width: 100%;
        }

        @include breakpoint (max-md){
            max-width: initial;
            height: 300px;
            border-top-right-radius: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        img {
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            @include imgw;

            @include breakpoint (max-md){
                border-top-right-radius: 0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    &:hover {
        .thumb {
            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0);
                }

                &:nth-child(2) {
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}

.service-details-wrapper {
    .service-details-thumb {
        border-radius: 12px;

        img {
            @include imgw;
            border-radius: 12px;
        }
    }

    .title {
        font-size: 50px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 15px;

        @include breakpoint (max-xl){
            font-size: 45px;
        }

        @include breakpoint (max-sm){
            font-size: 38px;
        }

         @include breakpoint (max-xxs){
            font-size: 30px;
        }
    }

    .title-2 {
        font-size: 32px;
        font-weight: 600;
        margin-top: 20px;

        @include breakpoint (max-sm){
            font-size: 27px;
        }
    }

    .service-feature-wrapper {
        margin-top: 50px;

        @include breakpoint (max-sm){
           margin-top: 30px;
        }

        .icon-feature-box-items-style {

            .icon {
                width: 76px;
                height: 78px;line-height: 78px;
                background-color: $theme-color;
                border-radius: 6px;
                text-align: center;
            }

            .content {
                margin-top: 30px;

                h3 {
                    font-size: 24px;
                    margin-bottom: 5px;
                }

                .line {
                    width: 185px;
                    height: 2px;
                    background-color: rgba(29, 139, 138, 0.26);
                    margin-top: 20px;
                    margin-bottom: 24px;
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 65px;
                        height: 2px;
                        content: "";
                        background: $theme-color;
                    }
                }


                p {
                    max-width: 326px;
                    margin-top: 15px;
                    margin-bottom: 30px;
                }
            }

            &:hover {
                .icon img {
                    animation: wobble 1.5s ease-in-out;
                }
            }
        }
    }

    .service-details-thumb-1 {
        margin-top: 30px;

        .thumb {
            img {
                @include imgw;
                border-radius: 12px;
            }
        }

        .title-3 {
            font-size: 32px;
            font-weight: 600;
            margin-top: 25px;
        }

        .list-items {
            @include flex;
            gap: 80px;
            margin-top: 30px;

            @include breakpoint (max-xxl){
                gap: 40px;
            }

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            ul {
                li {
                    font-size: 16px;
                    font-weight: 500;
                    color: #577D7D;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    img {
                        margin-right: 8px;
                    }
                }
            }
        }

        .choose-feature {
            margin-top: 30px;
            max-width: 570px;

            &:not(:last-child){
                margin-bottom: 35px;
            }

            .box-title {
                font-size: 16px;
                font-weight: 700;
                font-family: $heading-font;
            }

            .progress-value {
                margin-bottom: 10px;
                //margin-top: -0.5em;
                color: #3C3C3C;
                text-transform: capitalize;
            }

            .progress {
                position: relative;
                height: 8px;
                background-color: rgba(65, 197, 117, 0.12);
                border-radius: 0;
                overflow: visible;
                margin-top: 15px;
                border-radius: 4px;
            }
                
            .progress-bar {
                background-color: $theme-color;
                height: 8px;
                margin: 0;
                border-radius: inherit;
                overflow: visible;
                position: relative;
                margin-top: 0;
                border-radius: 4px;
            }

            .progress-value {
                position: absolute;
                top: -38px;
                right: -8px;
                font-size: 16px;
                font-weight: 700;
                color: #3C3C3C;
                font-family: $heading-font;
            }
        }
    }
}

.service-section-inners {
    background-color: #022423;

    .container {
        max-width: 1640px;
    }
}




.service-section-6{
    padding: 0 20px;  

    .container {
        max-width: 1477px;
    }
}


.service-wrapper{
    background-color: $bg-color;
    border-radius: 20px;

    .section-title-area {
        justify-content: initial;
        gap: 200px;
        margin-bottom: 60px;

        @include breakpoint (max-xl){
            gap: 30px;
        }

        @include breakpoint (max-lg){
            margin-bottom: 30px;
        }
    }

    .service-image-6 {
        img {
            border-radius: 14px;
            @include imgw;
        }
    }

    .service-box-6 {
        padding: 43px 0;
        border-top: 1px solid rgba(4, 85, 84, 0.22);
        @include flex;
        justify-content: space-between;
        position: relative;
        margin-left: 80px;

        &:last-child {
            padding-bottom: 0;
        }

        @include breakpoint (max-xl){
            padding: 20px 0;
            margin-left: 0;
        }

        @include breakpoint (max-sm){
            display: grid;
            gap: 25px;
            align-items: center;
        }

        .content {
            display: flex;
            gap: 115px;
            align-items: center;
            position: relative;
            z-index: 1;

            @include breakpoint (max-xxl){
                gap: 45px;
            }

            @include breakpoint (max-lg){
                gap: 30px;
            }

            span {
                font-size: 24px;
                font-weight: 600;
                color: $theme-color;
                line-height: 1;
                font-family: $heading-font;
            }

            h3 {
                font-size: 28px;
                font-weight: 600;

                @include breakpoint (max-xxl){
                    font-size: 24px;
                }

                @include breakpoint (max-xl){
                    font-size: 22px;
                }

                @include breakpoint (max-sm){
                    font-size: 20px;
                }

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
        
        .right-content {
            @include flex;
            gap: 53px;

            @include breakpoint (max-xxl){
                gap: 35px;
            }

            .image {
                img {
                    border-radius: 8px;
                    @include imgw;
                }
            }

            .icon {
                background: $white;
                border-radius: 50%;
                color: $theme-color;
                font-size: 15px;
                height: 46px;
                width: 46px;
                line-height: 46px;
                text-align: center;

                &:hover {
                    background-color: $theme-color;
                    
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}


.service-wrapper-7 {
    .section-title-area {
        justify-content: initial;
        gap: 59px;
        margin-bottom: 60px;

        @include breakpoint (max-xl){
            gap: 30px;
        }

        @include breakpoint (max-lg){
            margin-bottom: 30px;
        }
    }

    .service-image-7 {
        margin-bottom: 25px;
        
        img {
            border-radius: 14px;
            @include imgw;
        }
    }

    .service-link {
        .link-btn {
            color: $header-color;
            transition: all 0.4s ease-in-out;
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
            text-transform: capitalize;
            background-position: 0 95%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            display: inline;

            img {
                margin-left: 5px;
                margin-bottom: 2px;
            }

            &:hover {
                color: $theme-color;
                background-size: 100% 2px;
                background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
            }
        }
    }
    

    .service-box-7 {
        padding: 30px 0;
        border-top: 1px dashed rgba(2, 36, 35, 0.45);
        @include flex;
        justify-content: space-between;
        position: relative;
        margin-left: 30px;
        @include transition;

        &:last-child {
            border-bottom: 1px dashed rgba(2, 36, 35, 0.45);
        }

        @include breakpoint (max-xl){
            padding: 20px 0;
            margin-left: 0;
        }

        @include breakpoint (max-sm){
            gap: 25px;
            align-items: center;
        }

        .content {
            display: flex;
            gap: 38px;
            align-items: center;
            position: relative;
            z-index: 1;

            @include breakpoint (max-lg){
                gap: 30px;
            }

            span {
                font-size: 24px;
                font-weight: 600;
                color: $theme-color;
                line-height: 1;
                font-family: $heading-font;
            }

            h3 {
                font-size: 30px;
                font-weight: 600;

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }

                @include breakpoint (max-xxl){
                    font-size: 24px;
                }

                @include breakpoint (max-xl){
                    font-size: 22px;
                }

                @include breakpoint (max-sm){
                    font-size: 20px;
                }
            }
        }
        
        .right-content {
            @include flex;
            gap: 120px;

            @include breakpoint (max-xxl){
                gap: 80px;
            }

            @include breakpoint (max-xl){
                gap: 60px;
            }

            @include breakpoint (max-lg){
                gap: 50px;
            }

            .image {
                img {
                    border-radius: 8px;
                    @include imgw;
                    opacity: 0;
                    visibility: hidden;
                    @include transition;
                }
            }

            .icon {
                position: relative;
                z-index: 9;
                transition: all 0.3s ease;
            }
        }

        &:hover {
            
            .right-content {

                .image {
                    img {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .icon {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}


.service-section-9 {
    .container {
        max-width: 1349px;
    }
}

.service-box-items-style-9 {
    margin-top: 30px;
    background: $white;
    border-radius: 12px;
    padding: 35px 20px 30px;

    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;

        @include breakpoint (max-xl){
            font-size: 26px;
        }

        @include breakpoint (max-md){
            font-size: 24px;
        }

        a {
            background-position: 0 95%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            display: inline;

            &:hover {
                color: $white;
                background-size: 100% 2px;
                background-image: linear-gradient(180deg, $white 0%, $white 100%);
            }
        }
    }

    .service-thumb {
        position: relative;
        border-radius: 12px;
        overflow: hidden;

        .hover-img {
            @include imgw;
            border-radius: 12px;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    .service-content {
        p {
            color: rgba(87, 125, 125, 0.8);
            margin-top: 15px;
            max-width: 300px;
        }

        .service-btn {
            margin-top: 20px;
            padding: 6px 50px 6px 20px;

            .btn-arrow-right {
                right: 4px;
                height: 30px;
                width: 30px;
            }

            .btn-arrow-left {
                left: 4px;
                height: 30px;
                width: 30px;
            }
        }
    }

    &:hover {
        .service-thumb {
            .hover-img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}